
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
    font-family: "PT Sans",sans-serif;
    font-size: 16px;
    line-height: 150%;
    
}

img {
    width: 100%;
    height: 100%;
}

a:hover{
    text-decoration: none ;
}

h2{
    text-align: center;
    font-size: 50px;
}
h2::after {
    content: '';
    background-color: orange;
    width: 37px;
    display: block;
    margin-left: 48%;
    margin-top: 2%;
    height: 2px;
}
h3{
    margin-bottom: 0px;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
}
h4 {
    margin: 14px 0px;
}
h4 a{
    font-weight: bold;
    color: orange;
}

a.btn{
   background-color: orange;
   padding: 1% 1%;
   color: white;
   transition: 0.3s all;
   -webkit-transition: 0.3s all;
   -moz-transition: 0.3s all;
   -ms-transition: 0.3s all;
   -o-transition: 0.3s all;
   text-transform: uppercase;
   
}

#properties-content-wrap a.btn,
#agents-wrap a.btn {
    text-align: center;
    width: 222px;
    display: block;
    margin: 0 auto;
}
#agents-wrap,
#properties-tool-wrap,
#properties-content-wrap,
#testimonials-wrap,
#form-container,
#footer{
    padding-top: 70px;
    padding-bottom: 70px;
}


.btn-secondary {
    color: #fff;
    background: orange;}
    

.btn-lg, .btn-group-lg > .btn {
   font-size: 22px;
}

i.fas.fa-circle {
    font-size: 5px;
    margin-right: 7px;
    color: orange;
    vertical-align: middle;
}


.fa-star{
    color:white;
    font-size: 22px;
    margin-top:18px;
}
textarea + label.stay,
input + label.stay,
textarea:focus + label,
input:focus + label,
input + label.toggle-label {
   font-size: 0.7em;
   font-weight: 400;
   transform: translateY(-1.5em);
   -webkit-transform: translateY(-1.5em);
   -moz-transform: translateY(-1.5em);
   -ms-transform: translateY(-1.5em);
   -o-transform: translateY(-1.5em);
}

#form-container,
#form-container h2,
#properties-tool-wrap h2, 
#properties-tool-wrap{
    position: relative;
}
    #form-container::before,
    #properties-tool-wrap::before{
    content: "";
    background: black;
    position:absolute;
    width:100%;
    height: 100%;
    top:0;
    left: 0;
    opacity: 0.7;
}

/*header css start*/
header {
    width: 100%;
    height: 170px;
    background: white;
}
/*adress-bar css start*/

.adress-bar {
        height: 74px;
        width: 100%;
}

.adress-col,
.login-col {
    margin-top: 20px;
}

a.log-hover,
.login-col a{
   font-size: 16px;
   text-decoration: none;
   color: #9a9a9a;
   transition: 0.3s all ;
   -webkit-transition: 0.3s all ;
   -moz-transition: 0.3s all ;
   -ms-transition: 0.3s all;
   -o-transition: 0.3s all ;
}
a.log-hover:hover, 
.login-col a:hover{
    color: orange;
    text-decoration: none;
}
/* menu-bar-icon-css for leptop view start */

.menu-bar-icon{
    position: relative;
    width: 27px;
    height:27px;
    top:6px;
    margin: 0 auto;
    vertical-align: middle;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -o-transform: translateY(50%);
    -ms-transform: translateY(50%);
    float: left;
    cursor: pointer;
    
}
.menu-bar-icon span{
    width: 100%;
    position:absolute;
    height: 4px;
    left: 0;
    background: black;
    transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
}

.menu-bar-icon span:nth-child(2){
    top:10px;

}
.menu-bar-icon span:nth-child(3){
    top:20px;

}

.menu-bar-close-icon span:nth-child(1) {
    width: 17px;
    top: 5px;
    transform: rotate(-28deg);
    -webkit-transform: rotate(-28deg);
    -moz-transform: rotate(-28deg);
    -ms-transform: rotate(-28deg);
    -o-transform: rotate(-28deg);
}

.menu-bar-close-icon span:nth-child(3) {
    width: 17px;
    top: 15px;
    transform: rotate(28deg);
    -webkit-transform: rotate(28deg);
    -moz-transform: rotate(28deg);
    -ms-transform: rotate(28deg);
    -o-transform: rotate(28deg);
}

/*menu-bar-ico-css for leptop view end*/

/*mobile nav css start*/
.mobile-nav{
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    position: fixed;
    background: white;
    height: 100%;
    width: 266px;
    top: 62px;
    left: -266px;
    border-top: 1px solid #4e4e4e;
}
a.mobile-nav-brand{
    display: none;
}
.mobile-menu a{
    display: block;
    letter-spacing: 0.06em;
    font-size: 15px;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
    font-family:montserrat,sans-serif;
}

.mobile-menu{
    padding:16px;
}
.mobile-menu li{
    list-style: none;
    margin-left: 0px;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
    padding: 10px;
    margin: 6px 0px;
}
.mobile-menu li:nth-child(1){
    background: #000;
    
}
.mobile-menu li:nth-child(1) a{
    color: white;
}
.mobile-menu li:hover{
    background: #000;
}

.mobile-menu li:hover a{
    color: white;
}
.mobile-menu li a{
 display: block;

}
/*mobile nav css end*/

/*boostrap nav css start*/
.navbar-brand img{
    width: 210px;
    height: 36px;
}


.nav-container-scroll{
    background: white;
    padding: 10px 0px 12px 0px !important;
    position: fixed ;
    width: 100%;
    top: 0;
    left:0;
    right: 0;
}

/*boostrap nav css end */




/* dot-icon-menu css start */
.dot-icon-menu,
.close-icon
{
    position: relative;
    display: none;
    cursor: pointer;
    width: 42px;
    height: 27px;
    top:6px;
    margin: 0 auto;    
    float:right;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -o-transform: translateY(50%);
    -ms-transform: translateY(50%);
    
}

.dot-icon-menu span,
.close-icon span

{
    width: 5px;
    position: absolute;
    height: 5px;
    display: block;
    left: 18px;
    background: black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    transition:0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
}

.dot-icon-menu span:nth-child(2){
    top:10px
}
.dot-icon-menu span:nth-child(3){
    top:20px
}


.close-icon span:nth-child(1),
.close-icon span:nth-child(3)
{
   height: 4px;
   width: 70%;
   left: 6px;
   transition: 0.3s ease-out;
   -webkit-transition: 0.3s ease-out;
   -ms-transition: 0.3s ease-out;
   -moz-transition: 0.3s ease-out;
   -o-transition: 0.3s ease-out;
   top: 10px;
   border-radius: 0;
   -webkit-border-radius: 0;
   -ms-border-radius: 0;
   -moz-border-radius: 0;
   -o-border-radius: 0;
   transform: rotate(50deg);
   -webkit-transform: rotate(50deg);
   -moz-transform: rotate(50deg);
   -o-transform: rotate(50deg);
   -ms-transform: rotate(50deg);
}
.close-icon span:nth-child(2){
    display: none;
}
.close-icon span:nth-child(3){
    transform: rotate(-50deg);
    -webkit-transform: rotate(-50deg);
    -moz-transform: rotate(-50deg);
    -o-transform: rotate(-50deg);
    -ms-transform: rotate(-50deg);
}

/* end dot-icon-menu css*/

.leptop-view-adress-col a,
.adress-col a{
    color:black;
    text-decoration: none;
    padding: 0 0 0 6px;
}
.leptop-view-adress-col a:hover,
.adress-col a:hover{
    text-decoration: underline;
}
.leptop-view-adress-col i,
.adress-col i{
    color:#9a9a9a;

}
.leptop-view-adress-col{
    position: absolute;
    right: 15px;
    z-index: 9999;
    background: white;
    text-align: start;
    width: 222px;
    font-size: 14px;
    top: 62px;
    border-top: 1px solid #4e4e4e;
    height: 154px;
    padding: 13px 0px 14px 13px;
}
.adress-col-active{
    display: block !important;
    transition: 0.5s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
    border-radius: 0;
    -webkit-border-radius: 0;
    -ms-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
}

/*adress bar css end*/


/*nav-container css strat*/

.nav-container{
    padding: 20px 0px 28px 0px;
    width: 100%;
    background: white;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    z-index: 9999;

}

.nav-item{
    margin-left: 48px;
    padding-bottom: 2px;
}
.nav-item a{
    display: block;
    letter-spacing: 0.06em;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: black;
    font-family:montserrat,sans-serif;
}

.nav-item::after{
    content: '';
    width: 0;
    position: relative;
    display: block;
    height: 2px;
    left: 50%;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
    background-color: orange;
}

.nav-item:hover::after{
    width: 100%;
    left:0;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -o-transition: 0.3s all;
    height: 2px;
    background-color: orange;

}


li.nav-item:first-child:hover::after{
    display: none;
}
.fix::before{
    content: '';
    width: 25px;
    height: 2px;
    position: relative;
    display: block;
    top: 25px;
    left: 14px;
    background-color: orange;
}

/*nav-container css end*/


/*header css end*/



/*slider-container css start here*/

.slider-container{
    position: relative;  
}

.carousel-indicators {
    right: 0;
    bottom: 0px;
    position: absolute;
    left: 0px;
    top: 89%;
    width: 100%;
    text-align: center;
    z-index: 15;
    display: block;
    margin-right: 0px;
    margin-left: 0;
}

.carousel-indicators li {
    margin: 0 12px;
    border: 1px solid white;
    width: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    height: 10px;
    display: inline-block;
    line-height: 150%;
}


.carousel-indicators .active {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;

}

.slide-show-inner-wrap{
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    margin: auto;
    }
.slide-show-inner-wrap>h1{
    color: white;
    font-weight: bold;
    font-size: 45px;
    letter-spacing: 3px;
    margin-bottom: 5%;
}

.slide-show-innertext {
    margin: auto;
 }

.search-menu {
    margin-right: 100px;     
}
      
.search-menu>li{
    display: inline-block;
    font-size: 14px;
    list-style: none;
    color: #d5d5d5;
    margin: 0 12px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
}
.search-menu>li:hover{
    color: #fff;
}

.slide-show-img img{
   width: 100%;
   height:550px;
}

.slider-src input[type="search"] {
    outline: 0;
    border: 0;
    height: 50px;
    color: #5a5a5a;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    width: 250px;
    padding-left:4px;
}

.slider-src label{
    left: 0px;
    position: absolute;
    top: 13px;
    font-size: 16px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -ms-transition: 0.3s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    pointer-events: none;
    right: 130px;
        
}       
.slider-src {
    position: relative;
}


/*slider-container css end here*/


/*main content css  start*/

/*properties-wrap css start*/
.properties-inner-wrap figure{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    position: relative;   
    font-size: 15px;
    overflow: hidden;

}

.properties-inner-wrap figure img { 
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;

}

figure:hover figcaption{
    top:38px;
    transition: 0.3s  all;
    -webkit-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -o-transition: 0.3s all;
   }

figcaption a.btn{
    margin-top:66px;
}
figure:hover h3{
    font-size: 1.71em;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -o-transition: 0.3s all;
}
figure:hover figcaption a.btn{
    margin-top: 3px;
    font-size: 17px;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -o-transition: 0.3s all;
}


figure::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    background: rgba(0, 0, 0, 0.3);
    background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
}
figure::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    background: #000;
    opacity: 0;
    transition: 0.35s all;
    -webkit-transition: 0.35s all;
    -moz-transition: 0.35s all;
    -ms-transition: 0.35s all;
    -o-transition: 0.35s all;
    z-index: 1;
    
}
figure:hover::before{
    opacity: 0.25;
}
.properties-inner-wrap figcaption{
    width: 100%;
    color: white;
    position: absolute;
    top:90px;
    transition:0.3s  all;
    -webkit-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -o-transition: 0.3s all;
    z-index: 999;
}  
/*properties-wrap css end*/


/*properties-content-wrap css start*/
.main-content-wrap>p{
    float: left;
}

.main-content-wrap>h6{
    color: black;
    font-weight: bold;
}


.list-inline{
    margin: 20px 0 20px;
}



.list-inline-dotted li:before {
	content: '\00a0\2022\00a0\00a0';
	color:#999;
	color:rgba(0,0,0,0.5);
	font-size:11px;
}
.list-inline-dotted li:first-child:before {
	content: '';
}

/*properties-content-wrap css end*/

/*properties-tool-wrap css start*/

#properties-tool-wrap{
    background: url(images/hw1.jpg) no-repeat center;
    background-size: 100% 100%;
    padding-top: 12%;
    color: white;
    text-align: center;

}
span.tool-icon {
    display: block;
    background: #c12323;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 22px;
    background-color: orange;
}
/*properties-tool-wrap css end*/

/*agents-single-wrap css start*/

.agents-single-wrap p a,i{
    margin-bottom: 0px;
    color: #434345
}


.agents-single-wrap>p{
    margin-bottom: 0px;
}
.agents-single-wrap img{
width: 100%;
height: 248px;
}
.agents-single-wrap {
    margin-bottom: 10px;
}

/*agents-single-wrap css end*/


/*testimonials-wrap css start*/

#testimonials-wrap{
    background: #f5f5f5;
    fill: #f5f5f5
}


.testimonials-single-wrap img{
    float: left;
    border-radius: 50% ;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  
}


q::before,
q::after{
    content: '';
}
.testimonials-img-wrap {
    height: 172px;
    float: left;
    margin-right: 10px;
    width:80px;
}
.testimonials-img-wrap img{
    width:80px;
    height: 80px;
}
.testimonials-q q{
    font-style: italic;
    font-size: 14px;
}
.testimonials-q p{
    color: black;
    font-size: 18px;
}

/*testimonials-wrap css end*/

/*main content css  end*/

/*form-container css start*/

#form-container{
    background: url(images/form-bg.jpg) no-repeat center;
    background-size: 100% 100%;
    color: white;
    text-align: center;
}
form.form-wrapper {
    width: 100%;
}

.form-inner-wrap{
    position: relative;
}

.form-inner-wrap input[type="submit"]{
     background: orange;
     color: white;
     font-size: 20px;
     width: 150px;
     cursor: pointer;
}

.form-inner-wrap label{
    position: absolute;
    font-size: 16px;
    left: 13px;
    top:15px;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -o-transition: 0.3s all;
    -ms-transition: 0.3s all;
    pointer-events: none;
    
}
.form-inner-wrap input, 
.form-inner-wrap textarea
{

    color: #ababab;
    outline: 0;
    border: 1px solid #ababab;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    width: 100%;
    font-size: 15px;
    background-color: transparent;
}
.form-inner-wrap>input{
    height: 50px;
    padding: 10px;
}
.form-inner-wrap textarea{
    padding: 10px;
}
.form-toggle{
    margin-top:-13px;
    font-size: 10px !important;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
}


/*form-container css end*/

/*footer css start here*/

#footer{
    background-color: #000;
    color: white;
}
#footer h5{
    font-family:montserrat,sans-serif;
    margin-bottom: 20px;
    text-transform: uppercase;
}
#footer ul{
    padding-left:0px;
}
#footer li{
    list-style: none;
    margin-bottom: 8px;
  
}
#footer li a {
    color: white;
}

.links ul li a:hover{
    text-decoration: underline;
}
.news li i{
    color: orange;
}


.news li a:hover i,
.news li a:hover span
{
    letter-spacing: 2px;
    transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -ms-transition: 0.3s all;
    -o-transition: 0.2s ease-out;
    margin-left: 4px;
}

.social-icon li{
    margin-right: 8px;
}
section.links h5 {
    margin-left: -18px;
}

.stay{
    position: absolute;
    margin-top:-10px;
    color:red;
    font-size: 9px;
}

.social-icon li{
    display: inline;
}
.social-icon{

    margin-top: 25px;
}
.social-icon li a i{
    color: white;
    width: 40px;
    height: 40px;
    padding-top:12px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    background-color: #151515; 
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -o-transition: 0.3s all;
}
.social-icon li a i:hover.fa-facebook-f{
    background-color: blue;
}
.social-icon li a i:hover.fa-twitter{
    background: #0edcdc
}
.social-icon li a i:hover.fa-google-plus-g{
    background: rgb(151, 38, 38);
}
.social-icon li a i:hover.fa-linkedin-in{
    background: #0e9bbb;
}

.links li{
    position: relative;
}


.subscribe{
    border: 0;
    height: 38px;
    background: #21211e;
    color: #cecece;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius:4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
}
.news-input{
    border: 0;
    height: 38px;
    background: #21211e;
    color: #cecece;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    margin-bottom: 10px;
    padding-left: 5px;
}


section.social-col {
    text-align: center;
}

#footer-copyright {
    text-align: center;
    margin-top: 30px;
    color: #4e4e4e;
}

/**footer css end */

 /*scrool to top*/

.scrollTop {
  position: fixed;
  right: 3%;
  bottom: 10px;
  background-color: #BE3F48;
  padding: 20px;
  opacity: 0;
  border-radius: 50%;
  -ms-border-radius:50%;
  -webkit-border-radius:50%;
  -o-border-radius:50%;
  -moz-border-radius:50%;
  height: 60px;
  width: 60px;
  z-index: 9999999;
  transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
}

.scrollTop a {
  font-size: 18px;
  color: #fff;
}
i.fas.fa-arrow-up {
    color: beige;
    font-size: 25px;
}

